{% extends "base.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-xs-5">
            <h3>Feed a Portion or two...</h3>
            {{ form_start(feedForm) }}
            {# You have to call the form with the dummy field here, otherwise it's not submitted #}
            <div class="hidden">{{ form_widget(feedForm) }}</div>
            <button type="submit" name="" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Portion size as defined under settings.">
                <span class="glyphicon glyphicon-tint"></span> Feed one Portion
            </button>
            {{ form_end(feedForm, {'render_rest': false}) }}
        </div>
        <div class="col-xs-7">
	    <h3>Activate or deactivate the light barrier</h3>
	    {{ form_start(barrierForm) }}
	        <div class="hidden">{{ form_widget(barrierForm) }}</div>
            {% if lightBarrierActive === true %}
                <button type="submit" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Activate or deactivate the light-barrier">
                    Activate
                </button>
            {% else %}
                <button type="submit" class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" title="Activate or deactivate the light-barrier">
                    Deactivate
                </button>
            {% endif %}
	    {{ form_end(barrierForm, {'render_rest': false}) }}
        </div>
    </div>
{% endblock content %}